
@font-face {
    font-family: 'hasklig-light';
    src: url('./fonts/hasklig-light.woff2') format('woff2'),
         url('./fonts/hasklig-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
  scroll-behavior: smooth;
}

.container {
	max-width: 550px;
}

 canvas.p5Canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


body {
    font-family: hasklig-light;
  @include tile(lines-up-a, grey, 6px);
  counter-reset: counter;
}

p, li a {
  background-color: white;
  display: inline;
    box-shadow: 10px 0 0 white,
    -10px 0 0 white;
    box-decoration-break: clone;
  & + &:before {
  	display: block;
  	height: 25px;
  	content: "";
  }
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

a {
	color: purple;
}
