
@font-face {
    font-family: 'hasklig-light';
    src: url('./fonts/hasklig-light.woff2') format('woff2'),
         url('./fonts/hasklig-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
  scroll-behavior: smooth;
}

.container {
	max-width: 550px;
}

 canvas.p5Canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}


body {
    font-family: hasklig-light;
  background-image: url('../assets/images/bg.svg');
  counter-reset: counter;
  color: $color-foreground;
}

p, li a {
  background-color: $color-background;
  display: inline;
    box-shadow: 10px 0 0 $color-background,
    -10px 0 0 $color-background;
    box-decoration-break: clone;
  & + &:before {
  	display: block;
  	height: 25px;
  	content: "";
  }
}

h1, h2, h3, h4 {
  text-transform: uppercase;
}

a {
	color: $color-accent;
}

header.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: $gap;
}
