---
layout: default
---
<html class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}">
<head>
	{% include head.html %}

</head>


<body id="{%- if page.status -%}{{ page.status }}{%- endif -%}">

	<div class="container">
		<header class="header">
			<a href="{{'/'  | prepend: site.baseurl }}" class="logo">
					{% include icons/logo.svg %}
				</a>
				<h1 class="title">{{ site.title }}</h1>
			<h2 class="slogan">{{ site.description }}</h2>
		</header>
		{{ content }}
	</div>


	<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
		$('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: ''})
		.on("mouseenter", function () {
			var _this = this;
			$(this).popover("show");
			$(".popover").on("mouseleave", function () {
				$(_this).popover('hide');
			});
		}).on("mouseleave", function () {
			var _this = this;
			setTimeout(function () {
				if (!$(".popover:hover").length) {
					$(_this).popover("hide");
				}
			}, 300);
		});
		// {% include force-bg.js %}
	</script>
</body>

</html>
