---
layout: default
---
<html class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}">
<head>
	{% include head.html %}

</head>


<body id="{%- if page.status -%}{{ page.status }}{%- endif -%}">

	<div class="container">
		<header class="header">
			<a href="{{'/'  | prepend: site.baseurl }}" class="logo">
					{% include icons/logo.svg %}
				</a>
				<div class="more">
					<h1 class="title">{{ site.title }}</h1>
			<h2 class="slogan">{{ site.description }}</h2>
				</div>
			 <a data-toggle="collapse" class="neu" href="#menu" class="collapse-trigger">
	    <span class="off">{% include radix-icons/hamburger-menu.svg %}</span>
	    <span class="on">{% include radix-icons/cross-1.svg %}</span>
	  </a>
		</header>
	 
	  <div id="menu" class="collapse in">
	    <ul>
{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for post in category.last %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
	  </div>
		{{ content }}
	</div>


	<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
		$('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false, content: ''})
		.on("mouseenter", function () {
			var _this = this;
			$(this).popover("show");
			$(".popover").on("mouseleave", function () {
				$(_this).popover('hide');
			});
		}).on("mouseleave", function () {
			var _this = this;
			setTimeout(function () {
				if (!$(".popover:hover").length) {
					$(_this).popover("hide");
				}
			}, 300);
		});
		// {% include force-bg.js %}
	</script>
</body>

</html>
