---
layout: default
---
<html class="{%- if page.categories -%}{{ page.categories }}{%- endif -%}">
<head>
	{% include head.html %}

</head>


<body id="{%- if page.status -%}{{ page.status }}{%- endif -%}">
	<div class="container">
		<aside class="sidebar wow">
			<div class="scroll">
				<header class="brand">
					<a href="{{'/'  | prepend: site.baseurl }}" class="logo">
						{% include icons/logo.svg %}
					</a>
				</header>
				<p class="description">Decolonize<br>Your<br>Attention</p>
				{% include navigation.html %}
			</div>

			<!-- <ul class="social">
				<li><a href="#">Join our newsletter</a></li>
				<li><a href="#">Become our patreon</a></li>
				<li><a href="#">follow our instagram</a></li>
			</ul> -->
		</aside>
		<article class="main">
			{%- if page.title -%}
			<div class="title wow">
				<h1>{{ page.title }}</h1>
			</div>
			{%- endif -%}
			{%- if page.cover -%}
			<div class="cover wow" style="background-image: url({{'/assets/images/'  | prepend: site.baseurl }}{{ page.cover }})">
				{%- if page.description -%}
				<h2>{{ page.description }}</h2>
				{%- endif -%}
			</div>
			{%- endif -%}
				{{ content }}

			{% include footer.html %}
		</article>



	</div>

<script src="{{'/assets/vendor/p5.min.js' | prepend: site.baseurl}}"></script>

<script>
let x = [],
  y = [],
  segNum = 20,
  segLength = 18;

for (let i = 0; i < segNum; i++) {
  x[i] = 0;
  y[i] = 0;
}

function setup() {
  createCanvas(windowWidth, windowHeight);
  strokeWeight(9);
  stroke(255, 100);
}

function draw() {
  background(200);
  dragSegment(0, mouseX, mouseY);
  for (let i = 0; i < x.length - 1; i++) {
    dragSegment(i + 1, x[i], y[i]);
  }
}

function dragSegment(i, xin, yin) {
  const dx = xin - x[i];
  const dy = yin - y[i];
  const angle = atan2(dy, dx);
  x[i] = xin - cos(angle) * segLength;
  y[i] = yin - sin(angle) * segLength;
  segment(x[i], y[i], angle);
}

function segment(x, y, a) {
  push();
  translate(x, y);
  rotate(a);
  line(0, 0, segLength, 0);
  pop();
}
</script>
<script>
	function windowResized() {
  resizeCanvas(windowWidth, windowHeight);
}
</script>
</body>

</html>
